<section id="fh5co-faq" class="fh5co-bg-color" data-section="faq">
	<div class="fh5co-faq">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate"><span>{{.Site.Params.faqs.heading}}</span></h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext">
							<h3 class="to-animate">{{.Site.Params.faqs.subheading}}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				{{ $noOfProcesses := len .Site.Params.faqs.faq }}
				<div class="col-md-6">
				{{ range $index, $element := .Site.Params.faqs.faq }}
					{{ if le $index (div $noOfProcesses 2)}}
					<div class="box-faq to-animate-2">
						<i class="icon-check2"></i>
						<div class="desc">
							<h3>{{ .heading }}</h3>
							<p>{{ .subheading }}</p>
						</div>
					</div>
					{{ end }}
				{{ end }}
				</div>
				<div class="col-md-6">
				{{ range $index, $element := .Site.Params.faqs.faq }}
					{{ if gt $index (div $noOfProcesses 2)}}
					<div class="box-faq to-animate-2">
						<i class="icon-check2"></i>
						<div class="desc">
							<h3>{{ .heading }}</h3>
							<p>{{ .subheading }}</p>
						</div>
					</div>
					{{ end }}
				{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>