<section id="fh5co-home" data-section="home" style="background-image: url(images/hero_image.png);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="to-animate">{{ .Site.Params.hero.heading | safeHTML}}</h1>
                        <h2 class="to-animate">{{ .Site.Params.hero.subheading | safeHTML}}</h2>
                        <div class="call-to-action">
                            <a href="#" class="demo to-animate hero-buttons" data-hero-section="services"><i class="icon-globe2"></i>Services</a>
                            <a href="#" class="download to-animate hero-buttons" data-hero-section="contactus"><i class="icon-mail2"></i> Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>