<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate"><span>{{ .Site.Params.services.title}}</span></h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">{{ .Site.Params.services.subtitle}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range .Site.Params.services.service }}
                <div class="col-md-3 text-center">
                    <div class="box-services">
                        <div class="icon to-animate">
                            <span><i class="{{ .icon }}"></i></span>
                        </div>
                        <div class="fh5co-post to-animate">
                            <h3>{{ .heading }}</h3>
                            <p>{{ .subheading}}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="core-features">
        <div class="grid2 to-animate" style="background-image: url(images/expertise.png);">
        </div>
        <div class="grid2 fh5co-bg-color">
            <div class="core-f">
                <h2 class="to-animate">{{ .Site.Params.languages.title}}</h2>
                <div class="row">
                    {{ range .Site.Params.languages.col1 }}
                        <div class="col-md-6">
                            <div class="core">
                                <i class="icon-laptop to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>{{ .heading }}</h3>
                                    <p>{{ .subheading}}</p>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    {{ range .Site.Params.languages.col2 }}
                        <div class="col-md-6">
                            <div class="core">
                                <i class="icon-laptop to-animate-2"></i>
                                <div class="fh5co-post to-animate">
                                    <h3>{{ .heading }}</h3>
                                    <p>{{ .subheading}}</p>
                                </div>
                            </div>
                        </div>
                    {{ end }}

                        <!-- <div class="core">
                            <i class="icon-laptop to-animate-2"></i>
                            <div class="fh5co-post to-animate">
                                <h3>Responsive Layout</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                        <div class="core">
                            <i class="icon-cloud-download to-animate-2"></i>
                            <div class="fh5co-post to-animate">
                                <h3>Free Download</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                        
                        <div class="core">
                            <i class="icon-hand-paper-o to-animate-2"></i>
                            <div class="fh5co-post to-animate">
                                <h3>24/7 Help &amp; Support</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="core">
                            <i class="icon-lightbulb-o to-animate-2"></i>
                            <div class="fh5co-post to-animate">
                                <h3>Free Update</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                        <div class="core">
                            <i class="icon-trophy to-animate-2"></i>
                            <div class="fh5co-post to-animate">
                                <h3>Featured Template</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                        <div class="core">
                            <i class="icon-columns2 to-animate-2"></i>
                            <div class="fh5co-post to-animate">
                                <h3>Lots of Elements</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>